<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Cập nhật thông tin sách</h1>
    <form action="{% url 'xu_ly_capnhat' %}" method="POST">
      {% csrf_token %} Tên sách <br />
      <input
        type="text"
        name="ten_sach"
        id="ten_sach" 
        value="{{sach.tenSach}}"
      />
      <br />
      Giá <br />
      <input type="text" name="gia" id="gia" value="{{sach.gia}}" /> <br />
      Tác giả <br />
      <select id="tacgia" name="tacgia">
        <option value="{{tg.id}}" selected >{{sach.tacGia }}</option>
        {% for tg in tacgia %}
        <option value="{{ tg.id }}" {% if tg.id == sach.tacgia %}selected{% endif %}>{{ tg.tenTacGia }}</option>
        {% endfor %}
      </select><br>
      <input type="hidden" name="sach_id" value="{{sach.id}}">
      <input  type="submit"  value="Cập nhật" />
    </form>
  </body>
</html>
